<a href="https://colab.research.google.com/github/JiSu0708/ESAA-YB/blob/main/0317%20wine_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Wine

### Introduction:

This exercise is a adaptation from the UCI Wine dataset.
The only pupose is to practice deleting data with pandas.

### Step 1. Import the necessary libraries

In [39]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data).

### Step 3. Assign it to a variable called wine

In [40]:
wine = pd.read_csv('wine.data')
wine.head()

,1,14.23,1.71,2.43,15.6,127,2.8,3.06,.28,2.29,5.64,1.04,3.92,1065
0,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
1,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
2,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
3,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
4,1,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450

### Step 4. Delete the first, fourth, seventh, nineth, eleventh, thirteenth and fourteenth columns

In [41]:
wine = wine.drop(wine.columns[[0,3,6,8,10,12,13]],axis=1)
wine.head()

   14.23  1.71  15.6  127  3.06  2.29  1.04
0  13.20  1.78  11.2  100  2.76  1.28  1.05
1  13.16  2.36  18.6  101  3.24  2.81  1.03
2  14.37  1.95  16.8  113  3.49  2.18  0.86
3  13.24  2.59  21.0  118  2.69  1.82  1.04
4  14.20  1.76  15.2  112  3.39  1.97  1.05

### Step 5. Assign the columns as below:

The attributes are (donated by Riccardo Leardi, riclea '@' anchem.unige.it):  
1) alcohol  
2) malic_acid  
3) alcalinity_of_ash  
4) magnesium  
5) flavanoids  
6) proanthocyanins  
7) hue

In [42]:
wine.columns = ['alcohol', 'malic_acid','alcallinity_of_ash','magnesium','flavanoids','proanthocyanins','hue']
wine.head()

,alcohol,malic_acid,alcallinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,13.20,1.78,11.2,100,2.76,1.28,1.05
1,13.16,2.36,18.6,101,3.24,2.81,1.03
2,14.37,1.95,16.8,113,3.49,2.18,0.86
3,13.24,2.59,21.0,118,2.69,1.82,1.04
4,14.20,1.76,15.2,112,3.39,1.97,1.05

### Step 6. Set the values of the first 3 rows from alcohol as NaN

In [43]:
wine.alcohol.iloc[:3] = np.NaN
wine.head()

<ipython-input-43-30412723dfe4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wine.alcohol.iloc[:3] = np.NaN

,alcohol,malic_acid,alcallinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,NaN,1.78,11.2,100,2.76,1.28,1.05
1,NaN,2.36,18.6,101,3.24,2.81,1.03
2,NaN,1.95,16.8,113,3.49,2.18,0.86
3,13.24,2.59,21.0,118,2.69,1.82,1.04
4,14.20,1.76,15.2,112,3.39,1.97,1.05

In [44]:
#다른 방법_더 좋은 방법인 것 같음
wine.iloc[0:3, 0] = np.nan
wine.head()

,alcohol,malic_acid,alcallinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,NaN,1.78,11.2,100,2.76,1.28,1.05
1,NaN,2.36,18.6,101,3.24,2.81,1.03
2,NaN,1.95,16.8,113,3.49,2.18,0.86
3,13.24,2.59,21.0,118,2.69,1.82,1.04
4,14.20,1.76,15.2,112,3.39,1.97,1.05

### Step 7. Now set the value of the rows 3 and 4 of magnesium as NaN

In [45]:
wine.loc[2:3, 'magnesium'] = np.nan
wine.head()

,alcohol,malic_acid,alcallinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,NaN,1.78,11.2,100.0,2.76,1.28,1.05
1,NaN,2.36,18.6,101.0,3.24,2.81,1.03
2,NaN,1.95,16.8,NaN,3.49,2.18,0.86
3,13.24,2.59,21.0,NaN,2.69,1.82,1.04
4,14.20,1.76,15.2,112.0,3.39,1.97,1.05

In [46]:
#다른 방법
wine.iloc[2:4, 3] = np.nan
wine.head()

,alcohol,malic_acid,alcallinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,NaN,1.78,11.2,100.0,2.76,1.28,1.05
1,NaN,2.36,18.6,101.0,3.24,2.81,1.03
2,NaN,1.95,16.8,NaN,3.49,2.18,0.86
3,13.24,2.59,21.0,NaN,2.69,1.82,1.04
4,14.20,1.76,15.2,112.0,3.39,1.97,1.05

### Step 8. Fill the value of NaN with the number 10 in alcohol and 100 in magnesium

In [50]:
wine.alcohol.fillna(10, inplace=True)
wine.magnesium.fillna(100, inplace=True)
wine.head()

,alcohol,malic_acid,alcallinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,10.00,1.78,11.2,100.0,2.76,1.28,1.05
1,10.00,2.36,18.6,101.0,3.24,2.81,1.03
2,10.00,1.95,16.8,100.0,3.49,2.18,0.86
3,13.24,2.59,21.0,100.0,2.69,1.82,1.04
4,14.20,1.76,15.2,112.0,3.39,1.97,1.05

### Step 9. Count the number of missing values

In [55]:
wine.isnull().sum()

alcohol               0
malic_acid            0
alcallinity_of_ash    0
magnesium             0
flavanoids            0
proanthocyanins       0
hue                   0
dtype: int64

### Step 10.  Create an array of 10 random numbers up until 10

In [58]:
random = np.random.randint(10, size=10)
random

array([4, 2, 1, 2, 7, 3, 1, 4, 4, 8])

### Step 11.  Use random numbers you generated as an index and assign NaN value to each of cell.

In [65]:
wine.alcohol[random] = np.nan
wine.head(10)

,alcohol,malic_acid,alcallinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,10.00,1.78,11.2,100.0,2.76,1.28,1.05
1,NaN,2.36,18.6,101.0,3.24,2.81,1.03
2,NaN,1.95,16.8,100.0,3.49,2.18,0.86
3,NaN,2.59,21.0,100.0,2.69,1.82,1.04
4,NaN,1.76,15.2,112.0,3.39,1.97,1.05
5,14.39,1.87,14.6,96.0,2.52,1.98,1.02
6,14.06,2.15,17.6,121.0,2.51,1.25,1.06
7,NaN,1.64,14.0,97.0,2.98,1.98,1.08
8,NaN,1.35,16.0,98.0,3.15,1.85,1.01
9,14.10,2.16,18.0,105.0,3.32,2.38,1.25

### Step 12.  How many missing values do we have?

In [68]:
wine.isnull().sum()

alcohol               6
malic_acid            0
alcallinity_of_ash    0
magnesium             0
flavanoids            0
proanthocyanins       0
hue                   0
dtype: int64

### Step 13. Delete the rows that contain missing values

In [77]:
# any -> row 또는 column에 NaN값이 1개만 있어도 drop (default 값)
# all -> row 또는 column에 있는 모든 값이 NaN이어야 drop

wine = wine.dropna(axis=0, how='any')
wine.head()

,alcohol,malic_acid,alcallinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,10.00,1.78,11.2,100.0,2.76,1.28,1.05
5,14.39,1.87,14.6,96.0,2.52,1.98,1.02
6,14.06,2.15,17.6,121.0,2.51,1.25,1.06
9,14.10,2.16,18.0,105.0,3.32,2.38,1.25
10,14.12,1.48,16.8,95.0,2.43,1.57,1.17

### Step 14. Print only the non-null values in alcohol

In [78]:
wine.alcohol.notnull()

0      True
5      True
6      True
9      True
10     True
       ...
172    True
173    True
174    True
175    True
176    True
Name: alcohol, Length: 171, dtype: bool

### Step 15.  Reset the index, so it starts with 0 again

In [80]:
# drop 옵션: 제거할 index를 열에 추가할지 말지(False가 default 값).
# drop = True: 기존의 index였던 것을 drop하고 새로 만들어짐. 
wine = wine.reset_index(drop = True)
wine.head()

,alcohol,malic_acid,alcallinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,10.00,1.78,11.2,100.0,2.76,1.28,1.05
1,14.39,1.87,14.6,96.0,2.52,1.98,1.02
2,14.06,2.15,17.6,121.0,2.51,1.25,1.06
3,14.10,2.16,18.0,105.0,3.32,2.38,1.25
4,14.12,1.48,16.8,95.0,2.43,1.57,1.17